<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".SemoApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_launcher"
        android:label="세모"
        android:supportsRtl="true"
        android:theme="@style/Theme.Semo">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuickInputActivity"
            android:exported="false"
            android:theme="@style/Theme.Semo.QuickInput"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true"
            android:noHistory="true" />
        <receiver
            android:name=".widget.SemoWidgetReceiver"
            android:exported="true"
            android:label="세모 빠른 입력">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/semo_widget_info" />
        </receiver>
    </application>
</manifest>
